.Card {
    /* Estilização */
    border: 2px solid white;
    padding: 34px;
    box-shadow: 12px 12px white;
    margin: 20px;
}

.Card > h1 {
    font-size: 28pt;
    margin: 0;
}
.imagephoto {
    width: 250px;
    border-radius: 2rem;
    box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.301);
    margin-top: 34px;
}